<ion-header>
    <ion-navbar>
        <ion-title>
            Products
        </ion-title>
    </ion-navbar>
</ion-header>
      
<ion-content padding>

    <ion-list>

        <button ion-item *ngFor="let product of products" (click)="navigateToProduct(product)">
            {{ product.name }}

        </button>



    </ion-list>

    <button ion-button (click)="navigateToCart()">View My Cart</button>

</ion-content>


<!-- <ion-content padding> -->
    <!-- Here is our talented line of chickens--click on any member of the flock for a detailed description!
    <p></p>
    <ion-list no-lines>
        
        <button ion-item *ngFor="let item of items" (click)="pressMe(item.name, item.note, item.price, item.description)">
            Name: {{ item.name }} Note: {{ item.note }} Price: {{ item.price }} Specs: {{ item.description }}
        </button>


    <ion-list no-lines> -->
